.panel {
    background-color: transparent;
}

.panel .container {
    background-color: var(--panel-color);
}

.panel .corners {
    box-shadow: 0 var(--inf-px) 0 var(--inf-px) var(--panel-color), 0 0 12px 4px black;
    border-radius: 16px 16px 0 0;
}

.panel .workspaces {
    background-color: red;
    padding: 0 4px;
}
